@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

.btn-control {
    text-align: center;
}

.btn {
    padding: 20px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    border: none;
    cursor: pointer;

}

#hero {
    width: 1920px;
    height: 919px;
    background: linear-gradient(180.00deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

#hero .hero-content {
    width: 1023px;
}

#hero .hero-content .subtitle {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}

#hero .hero-content .title {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
    margin: 16px 0px;
    margin-bottom: 24px;
}

#hero .hero-content .description {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 32px;

}

#card-box {
    width: 1320px;
    margin: 100px auto;
}

#card-box .title {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;

}

#card-box .subtitle {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
}

.card-container {
    margin-top: 48px;
    display: flex;
    justify-content: space-evenly;


}

.card {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card .shop {
    padding: 14px 32px 14px 32px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}
.card .image-box{
    border-radius: 16px;
}
.card .image-box img{
    width: 100%;
}
.card h1{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 40px;
font-weight: 600;
line-height: 47px;
letter-spacing: 0%;
text-align: center;
}
.card p{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
opacity: 0.5;
}
#section-aboutUS{
    width: 1920px;


}
#section-aboutUS .about_container{
max-width: 1920px;
display: flex;
flex-direction:row;
margin:0px auto
}
#section-aboutUS .about_container .image_box{
width: 960px;
left: 0;
top: 0;
border-radius: 20px;
}
.image_box img{
    width: 100%;
}
#section-aboutUS .about_container .about_right{
    width:960px;
    height: 671px;
    display: flex;
    background: rgb(255, 255, 255);  
    justify-content: center;
    align-items: center;

}

.middle h1{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 48px;
font-weight: 700;
line-height: 64px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 24px;
}
.middle p{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}
.middle h2{
color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 32px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 32px;
}
.middle .social{
color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 32px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
}
.social ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    line-height: 0;
}
.social ul li{
    padding: 0px 10px;
   
}
.social ul li i{
    font-size: 30px;
}
#footer{
    width: 1920px;
    height: 670px;
    background:rgb(212, 206, 206);
    margin-top: 100px;
}
#footer .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
#footer .footer h1{
color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 38px;
font-weight: 700;
line-height: 64px;
letter-spacing: 0%;
text-align: center;
margin-top: 137px;
}
#footer .footer p{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
opacity: 0.6;
margin-top: 32px;
}
#footer .footer .follow{
width: 1320px;
height: 98px;
justify-content: center;
align-items: center;
display: flex;
color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 32px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-top: 48px;
box-sizing: border-box;
border-bottom: 1px solid rgba(16, 16, 16, 0.2);
border-top: 1px solid rgba(16, 16, 16, 0.2);

}
#footer .footer .SocialMedia{
    width: 260px;
    height: 40px;
    margin-top: 32px;
}
.SocialMedia ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    line-height: 0;
}
.SocialMedia ul li{
    padding: 0px 10px;
   
}
.SocialMedia ul li i{
    font-size: 30px;
}